<h1>Transactions for <%= user.username %></h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>category</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(function(transaction) {%>
            <tr>
               <td> <%= transaction._id.category %> </td>
               <td><%= transaction._id.amount %></td>
            </tr>
            
            <% }) %>

        

    </tbody>
</table>
