<pre style="background-color: lightgoldenrodyellow"><h1> ೃ༄*ੈ✩✧ ೃ༄*ੈ✩ ✧  HO HO HO!  ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ </h1></pre>
<h1>You deserve a daily HAHA time! <i class="bi bi-emoji-sunglasses"></i> </h1>
<form method="post" action="/christina/openai">
  <span style="font-size: 1.5em;">
    <pre style="background-color: Pink;">Enter a word to generate a joke:<input type="text" name="prompt"><br></pre>
  </span>
  <!-- Enter a word to generate a joke:<input type="text" name="prompt"><br> -->
  <input type="Submit">
  <span style="font-size: 2em;"></i><i class="bi bi-hand-index-fill"></i></span>
  <br><br>
  <span style="font-size: 6em;"></i><i class="bi bi-emoji-wink"></i><i class="bi bi-emoji-wink"></i></i><i
      class="bi bi-emoji-wink"></i>
</form>