<h1>CS103a App <i class="bi bi-patch-question"></i></h1>
<p class="text-decoration">Welcome to the App</p>
<span style="font-size: 60px;"><i class="bi bi-magic"></i></span>
<br><br>
<a href="andy" style="text-decoration: none; color: lightskyblue;">
    <span style="font-size: 20px;"><i class="bi bi-arrow-right-circle-fill"></i>Andy</span>
</a>
<br><br>
<a href="christina" style="text-decoration: none; color: lightpink;">
    <span style="font-size: 20px;"><i class="bi bi-arrow-right-circle-fill"></i>Christina</span>
</a>
<br><br>
<a href="zach" style="text-decoration: none; color: plum;">
    <span style="font-size: 20px;"><i class="bi bi-arrow-right-circle-fill"></i>Zach</span>
</a>
<br><br>