<h1>˖⁺‧₊˚♡˚₊‧⁺˖ Welcome to our Team Page!! </h1>
<pre style="background-color: CornflowerBlue;">Andy He </pre>
<p>Andy is a sophomore, and he loves snowboarding and languages. Yahooo! </p>
<hr>
<pre style="background-color: Pink;">Christina Lin </pre>
<p>Christina is a sophomore. She loves dance and cookies! </p>
<hr>
<pre style="background-color: Yellow;">Zach Hovatter </pre>
<p>Zach is a sophomore. He enjoys rock climbing and cheesecake.</p>
<hr>
<p>✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩ ✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧ ೃ༄*ੈ✩✧</p>