<h1> Zach's GPT Poem Generator </h1>
<form method="post" action="/zach/openai">
  Enter a poem topic:<input type="text" name="prompt"><br>
  <input type="submit">
</form>

<!-- <h1>JSON format</h1>
<form method="post" action="/zach/openai">
  Enter an address:<input type="text" name="prompt"><br>
  <input type="submit">
</form> -->